* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

img {
  max-width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.top {
  position: relative;
  overflow: hidden;
}

.top-header {
  background: #222222;
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-brand-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F1E4E6;
  min-height: 764px;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 41px;
}

.top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 33px;
}

.top-photo-promo {
  width: 50%;
}

.promo {
  padding-left: 64px;
}

.top-info-header {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-top: 70%;
}

.top-name-brand {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.top-name-text {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.top-magazine-icons {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
}

.top-item {
  position: relative;
}

.top-big-item {
  min-height: 180px;
  grid-column: 1 / -1;
}

.top-item-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.names-item {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.top-products {
  position: relative;
  padding-bottom: 96px;
}

.header-products {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.text-header-product {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 6px;
  color: #9F9F9F;
}

.top-all-product-frames {
  margin-top: 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (360px)[auto-fit];
  grid-template-columns: repeat(auto-fit, 360px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
}

.top-product-frame {
  background-color: #F8F8F8;
}

.img-product {
  width: 100%;
}

.text-product {
  background: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.header-product {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.text-of-product {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product-price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.top-btn {
  display: flex;
  justify-content: center;
}

.top-browse-all {
  margin: 48px;
  background-color: white;
  border: 1px solid #FF6A6A;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  min-height: 47px;

}

.btn-text {
  background-color: white;
  padding: 0 39px 0 39px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .top-left {
    padding: 0 0 0 32px;
  }
  .top-right {
    padding: 0 41px 0 0;
  }
  .top-brand-promo {
    min-height: 368px;
  }
  .top-photo-promo {
    width: 55%;
    display: flex;
    align-items: flex-end;
  }
  
  .promo {
    padding-left: 39px;
  }
  .top-info-header {
    margin-top: 50%;
  }

  .top-name-brand {
    font-size: 44px;
    line-height: 53px;
  }
  .top-name-text {
      font-size: 20px;
  }
  .top-magazine-icons {
    margin: 0 15px 0 15px;
    padding-bottom: 110px
  }
  .top-big-item {
    min-height: 116px;
  }

  .top-all-product-frames {
    gap: 16px;
    margin-top: 72px;
  }

  .top-browse-all {
    margin: 33px;
  }

  .btn-text {
    color: #FF6A6A;
  }
}